.navBar {
  padding: 10px;
  text-align: right;
}

.navLink {
  padding: 10px;

  text-decoration: none;
  color: white;
  font-size: 1.2vh;
  text-transform: uppercase;
  font-family: monospace;
  cursor: pointer;
}

.navLink:visited {
  text-decoration: none;
  color: white;
  font-size: 1.2vh;
  padding: 10px;

  text-transform: uppercase;
  font-family: monospace;
  cursor: pointer;
}

.navLink:hover {
  transition-property: all;
  transition-duration: 0.3s;
  padding: 10px;
  text-decoration: none;
  color: #dc6c22;
  font-size: 1.2vh;
  text-transform: uppercase;
  font-family: monospace;
  cursor: pointer;
}
