/*----------------------------------General------------------------------------*/
/* button,
input {
  cursor: pointer;
} */
/* abbr {
  cursor: pointer;
} */
/* div {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-block;
} */

.modal-content {
  justify-content: center;
}
.boxyWH {
  display: inline-block;
  text-align: justify;
  border: solid grey 2px;
  padding: 10px;
  justify-content: center;
  align-self: flex-start;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
}
.boxyWH:hover {
  display: inline-block;
  text-align: justify;
  border: solid rgb(232, 100, 39) 3px;
  padding: 10px;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  transition: 300ms;
  box-shadow: 10px 10px #bfbfbf;
}
.boxyBK {
  display: inline-block;
  background-color: black;
  color: white;
  text-align: justify;
  border: solid grey 2px;
  padding: 10px;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
}
.boxyBK:hover {
  display: inline-block;
  background-color: black;
  transition: 300ms;
  color: white;
  text-align: justify;
  border: solid rgb(232, 100, 39) 3px;
  padding: 10px;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px #bfbfbf;
}
/*----------------------------------Digital clock----------------------------------*/
.digitalClockDiv {
  border: solid black;
  padding: 20px;
}

.dateDiv {
  font-size: 20px;
}
.timeDiv {
  font-size: 30px;
}

.clockTitle {
  /* background-color: black; */
  color: #ef5350;
  font-size: 30px;
}
/*----------------------------------Comment----------------------------------*/
.commentDiv {
  border: solid black;
  padding: 20px;
  display: block;
}

.cmtTitle {
  font-size: 25px;
}
.commentInputDiv {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: block;
}
.commentInputForm {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: auto;
}
/* .commentInputTable {
  width: auto;
} */
.ratingSelect {
}
.commentBefore {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.commentInputTable {
  text-align: left;
}

.leaveCommentBtn {
  margin: 10px;
  border: solid black;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  color: black;
}
.leaveCommentBtn:hover {
  margin: 10px;
  border: solid black;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
  font-size: 22px;
  transition: 300ms;
  color: white;
  box-shadow: grey 5px 5px;
}
.commentAfter {
  justify-content: center;
}
.commentAfter:hover {
  justify-content: center;
}
/*----------------------------------Dice Roller----------------------------------*/

.diceRollerDiv {
  border: solid black;
  padding: 20px;
}
.dice {
  border: solid white;
  border-radius: 5px;
  box-shadow: 5px 5px rgb(94, 94, 94);
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  font-size: 30px;
  color: white(4, 35, 238);
  background-color: rgb(9, 8, 8);
  cursor: default;
}
.dice:hover {
  border: solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 5px 5px rgb(89, 89, 89);
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 10px;
  font-size: 40px;
  color: black;
  transition: 300ms;
  background-color: rgb(255, 255, 255);
  cursor: default;
}

.rollingMsg {
  font-size: 20px;
}

/* .diceOdd {
  border: solid white;
  border-radius: 5px;
  box-shadow: 5, 5, 5;
  display: inline-block;
  width: 50px;
  height: 50px;
  justify-self: center;
  text-align: center;
  align-content: center;
  margin: 10px;
  font-size: 25px;
  padding: 5px;
  color: rgb(4, 35, 238);
  background-color: rgb(227, 223, 223);
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86);
} */
/* .diceEven {
  border: solid white;
  border-radius: 5px;
  box-shadow: 5, 5, 5;
  display: inline-block;
  width: 50px;
  height: 50px;
  justify-self: center;
  text-align: center;
  align-content: center;
  margin: 10px;
  font-size: 25px;
  padding: 5px;
  color: rgb(250, 8, 8);
  background-color: rgb(227, 223, 223);
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86);
} */

.dieCounter {
  border-radius: 5px;
  display: inline-block;
  font-size: 35px;
  height: 60px;
  width: 60px;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-color: black;
  color: white;
  border: white;
  border: solid rgb(191, 191, 191);
}
.dieCounter:hover {
  border-radius: 5px;
  display: inline-block;
  font-size: 40px;
  height: 65px;
  width: 65px;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-color: white;
  color: #ef5350;
  border: solid rgb(0, 0, 0);
  transition: 300ms;
  cursor: default;
  box-shadow: rgb(189, 186, 186) 3px 3px;
}

.diceCounterDiv {
  /* display: flex; */
  /* align-items: flex-start; */
  height: 100%;
}
.diceCounterDiv:hover {
  /* display: flex; */
  /* align-items: flex-start; */
  height: 120%;
}
.lessBtn {
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 18px;
  color: black;
  border: solid rgb(0, 0, 0);
  margin: 10px;
}
.lessBtn:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  border: solid rgb(255, 255, 255);
  transition: 300ms;
  font-size: 20px;
  margin: 10px;
  box-shadow: rgb(189, 186, 186) 3px 3px;
}
.moreBtn {
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 18px;
  color: black;
  border: solid rgb(0, 0, 0);
  margin: 10px;
}
.moreBtn:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
  border: solid rgb(255, 255, 255);
  transition: 300ms;
  font-size: 20px;
  margin: 10px;
  box-shadow: rgb(189, 186, 186) 3px 3px;
}

.restartDRBtn {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 18px;
  color: black;
  border: solid rgb(0, 0, 0);
  margin: 10px;
}
.restartDRBtn:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
  border: solid rgb(255, 255, 255);
  transition: 300ms;
  font-size: 20px;
  margin: 10px;
  box-shadow: rgb(189, 186, 186) 3px 3px;
}
.rollDRBtn {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 18px;
  color: black;
  border: solid rgb(232, 100, 39);
  margin: 10px;
}
.rollDRBtn:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: #ef5350;
  border: solid rgb(255, 255, 255);
  transition: 300ms;
  font-size: 20px;
  margin: 10px;
  box-shadow: rgb(189, 186, 186) 3px 3px;
}
/*----------------------------------Number Guessing----------------------------------*/
.numGuessTitle {
  font-size: 30px;
}
.numberGuessingDiv {
  border: none;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  align-content: center;
  max-width: 350px;
}
.safeToGo {
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.boomDsp {
  color: #ef5350;
}

.numGuessHint {
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(232, 100, 39);
  color: black;
  margin: 10px;
  border: white solid 2px;
  text-align: left;
  padding: 10px;
}
.guessBtn {
  transition: 200ms;
  display: inline-block;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  border: solid green 2px;
  color: green;
  border-radius: 5px;
  font-size: 20px;
  background-color: white;
  margin: 10px;
}
.guessBtn:hover {
  transition: 200ms;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  border: solid red 3px;
  color: red;
  border-radius: 5px;
  font-size: 22px;
  background-color: white;
  box-shadow: rgb(189, 186, 186) 3px 3px;
  margin: 10px;
}

.restartBtn {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 100px;
  font-size: 18px;
  color: black;
  border: solid rgb(128, 126, 126);
  margin: 5px;
}
.restartBtn:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  width: 100px;
  color: white;
  border: solid rgb(191, 191, 191);
  transition: 300ms;
  font-size: 20px;
  box-shadow: grey 5px 5px;
}

/*----------------------------------Counter----------------------------------*/
.counterDiv {
  border: solid black;
  max-width: 200px;
}
.counterBtn {
  display: inline-block;
  border: solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.counterBtn:hover {
  display: inline-block;
  border: solid black;
  background-color: black;
  color: white;
  transition: 350ms;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgb(189, 186, 186) 3px 3px;

  /* cursor: pointer; */
}
.counterDisplay {
  display: inline-block;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: solid grey;
  color: white;
  background-color: black;
}
.counterDisplay:hover {
  display: inline-block;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: solid black;
  background-color: white;
  color: black;
  transition: 350ms;
  font-size: 60px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgb(189, 186, 186) 3px 3px;
}
.countHint {
  font-size: 10px;
  display: flex;
}
.numOfStep {
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  border: solid black;
  padding: 5px;
  border-radius: 5px;
}
.numOfStep:hover {
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  border: solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  color: white;
  transition: 350ms;
  box-shadow: rgb(189, 186, 186) 3px 3px;
}
/*----------------------------------Card Shuffle----------------------------------*/

.cardShuffleDiv {
  max-width: 1100px;
  margin: 1.1em auto;
  text-align: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
}

.card {
  box-sizing: border-box;
  background: white;
  width: 222px;
  height: 290px;
  padding: 10px;
  border-radius: 5px;
}

.card:hover .remove-card {
  background-color: lightgray;
}

.remove-card {
  font-size: 1.15em;
  border: dashed red;
  outline: none;
  /* visibility: hidden; */
  color: #ef5350;
  cursor: pointer;
  margin: 0 0px 0 0;
  padding: 0;
  background: none;
}

.card div {
  text-align: center;
  padding: 1em;
  margin-bottom: 1.5em;
}

/* img {
  width: 150px;
} */

/* header {
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #504c50;
  border-bottom: solid 2px #d4caff;
}

header h1,
header button {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: normal;
} */

/*----------------------------------Interest Card----------------------------------*/

/*----------------------------------Weather----------------------------------*/
