.arcadeDiv {
  justify-items: start;
  align-items: start;
  border: solid black;
  width: 100%;
  margin: 20px 0;
  padding: 10px 10px;
}

.commentBtn {
  border: black solid 3px;
  margin: 10px;
  font-size: 20px;
}

.commentBtn:hover {
  border: grey solid 3px;
  font-size: 24px;
  background-color: rgb(238, 130, 91);
  margin: 10px;
  transition: 200ms;
}
