.headerDiv {
  background-color: #000000;
  margin: 0;
  padding: 0;
}
.header {
  /* color: #ffffff; */
  display: block;
  margin: 0;
}

.headerDescription {
  color: #ffffff;
  justify-self: center;
  font-size: 17px;
  margin: 0;
  padding: 0 20px 20px 20px;
}

.headerName {
  color: white;
  padding: 20px 20px 20px 20px;
}
